.side-projects-card {
    display: flex;
    flex-direction: column;
    min-width: 10rem;
    max-width: 20rem;
    background-color: aliceblue;

    border-color: burlywood;
    border-width: 1em;
    border-style: solid;

    text-align: center;

    height: fit-content;

    padding:0.5em
}

.project-title {
    display: flex;
    justify-content: center;
}

.project-title {
    font-weight: bold;
    font-size: 2rem;
    color:black;
    background-color: cornsilk;
    transition: background-color 0.3s ease; /* Add transition effect to background color */
}

.project-title:hover {
    cursor: pointer;
    background-color:aqua;
}

.project-description {
    display:inline-flex;
    justify-content: center;
    flex-wrap: wrap;
}