.cards-container {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.card-light-mode {
    color: black; 
    background-color:lightGrey;
}

.card-dark-mode {
    color: white; 
    background-color:grey;
}